.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* @fixme move into config */
  gap: 36px;
}

@media (max-width: var(--breakpoint)) {
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 1fr;
}

.manitineGroupInnerOverride>div {
  flex-wrap: nowrap;
  flex-direction: column;
}
